body
{
  background-color: #BC8F8F;
  align-items: center;

}
.heading{
  color: #ffff;
  font-size: 35px;
  font-family: serif;
}
.text
{
  font-size: 30px;
  font-family: serif;
}
.text-1
{
  font-size: 30px;
  font-family: serif;
}
.text-2
{
  font-size: 30px;
  font-family: serif;
}
.winner{
    border-style: solid;
    border-radius: 5px;
    border-color: #ffff;
    font-size: 30px;
    background-color: #ffff;
}
.turns{
    border-style: solid;
      border-radius: 5px;
      border-color: #ffff;
      background-color: #ffff;
}
.container
{
  background-color: #CCD1D1 ;
  width:80%;
  border-radius: 10px;
  padding:10px;
  align-self: center;
}
.container .inside
{
  background-color: #BC8F8F;
  border-radius: 10px;
  padding:10px;
}
.new-game{
  background-color: #ffff;
  border-radius: 5px;
}
ul
{
  list-style-type: none;
  padding: 0px;
  overflow: hidden;
  background-color: #DCDCDC;
  border-radius: 10px;
}

dt
{
  float: left;
  width:33%;
}

dt a
{
  display: block;
  padding: 5px;
}

li
{
  padding: 10px;
}
.rock{
  width:90px;
}
.paper{
  width:90px;

}
.scissors{
  width:90px;

}
.active, .text-1:hover {
  background-color: #BB8FCE;
}
